<div class="row d-flex justify-content-between m-5 header" *ngIf='path=="detailes"'><h3 class="col-md-6">{{fullname}}</h3><a routerLink='/home' class=" border-rounded btn  btn-sm btn-primary col-md-2 ">back to home</a></div>
<div class='border m-2 row'>

<form (ngSubmit)='convert()' #f='ngForm'>
    <div class="row p-2 d-flex justify-content-between align-items-end">
        <div class="col-md-3 form-group ">
            <label class="">Amount </label>
             <input type='number' required class="form-control" name='amount' [value]=amount [(ngModel)]=amount (blur)='validate()' >
             
           
        </div>

        <div class="col-md-2  form-group">
            <label class="">From</label>
            <select class=" form-control" name='s1' [(ngModel)]=symbol1 (click)='getfullname()'>
                <option id={{symbol.value}} *ngFor='let symbol of symbols?.symbols | keyvalue' [selected]='symbol.key==symbol1' [disabled]='path=="detailes"'>
                    {{symbol.key}}
                </option>
               
              </select>
        </div>

            <div class="col-md-1 form-group ">
               <img src='../../assets/arrow.png' width="40px" (click)='exchange()'>
            </div>
        
            <div class="col-md-2 form-group">
                <label class="">To</label>
                <select class=" form-control" name="s2" [(ngModel)]=symbol2 >
                    <option *ngFor='let symbol of symbols?.symbols| keyvalue' [selected]='symbol.key==symbol2'>
                        {{symbol.key}} 
                    </option>
                   
                  </select>
            </div>    
           
    </div>
    <div class="row p-2 d-flex justify-content-end"> <button [disabled]='f.invalid' class="border-rounded btn btn-primary col-md-6 " (click)='popular_curr()'>convert</button> 
    </div>
</form>
</div>
<div class="row d-flex justify-content-center" *ngIf='result'>
<div class='col-md-3 m-4'>1 {{from}}={{rate}}{{to}}</div>
<div class=" col-md-3 m-4">{{result}} {{to}}</div>
<a  *ngIf ='path!="detailes"' class="border-rounded btn btn-primary col-md-3 m-4" routerLink='/detailes'>more detailes</a>

</div>

<div *ngIf='path!="detailes"&&result'>
    <h5 class="text-center">most popular currencies </h5>
<div  class="row  d-flex justify-content-between m-2 p-2 ">
    <div class="col-md-4 " *ngFor='let curr of mydata | keyvalue'>
    <div class="card m-1">
        <div class="card-header">USD / {{curr.key}}</div>
        <div class="card-body">{{amount}} USD ={{curr.value *amount}}  {{curr.key}} </div>
    </div> 
    </div>
     
</div>

</div>
<div class="row d-flex justify-content-center header" >
    <div class='col-md-4'>
    <canvas id="myChart" ></canvas>
   </div>
</div>


